%h3 Welcome to C-Group / C-Game!

%p
  C-Game is a gathering of like-minded friends and their friends.
  %li A host chooses a menu of connection-related activities.
  %li People get invited; size of the group limited only by the venue
  %li There are opening and closing circles
  %li In between, people split into groups and choose from the activity menu
  %li Each time slot is by default 45 minutes, but could be very flexible too

