%h2 C-Game Containers Registration

.row
  .small-3.columns

  .small-9.columns

    %h3 Schedule for July/August
    Sundays 5-8pm in Berkeley
    %br
    Tuesdays 7-10pm in Berkeley
    %br
    Wednesdays 9:30am-12:30pm in Berkeley
    %br
    Wednesdays 7-10pm in San Francisco
    %br
    Thursdays 6:30pm-9:30pm in Menlo Park
    %br
    Fridays Happy Hour 4-7pm in SF or Berkeley
    %br
    Ideally you can make every week, but you can miss 1-3 and still join

    %h3 Registration for eight-week containers
    %ol
      %li Request and receive an invitation from cgames.forever@gmail.com
      %li Pay $400/$200 for an 8/4 week container
      %li
        We will send you a Welcome e-mail inviting you to...
        %ul.paypal
          %li Join our Slack online community
          %li Set an intention
          %li Try on some "homework" practices before the container begins

    %h3 Questions or comments?
    = mail_to 'cgames.forever@gmail.com', 'Email cgames.forever@gmail.com'
    %br
    Call or text 415.734.0129

    %h3 Container Agreements
    1. Practice Self-Leadership
    %br
    2. Return To Connection
    %br
    3. Consider Group Health

%hr