%h2 C-Game Containers Registration

.row
  .small-8.columns
    %h3 July/August Containers
    Sundays 5-8pm in Berkeley
    %br
    Tuesdays 7-10pm in Berkeley
    %br
    Wednesdays 9:30am-12:30pm in Berkeley
    %br
    Wednesdays 7-10pm in San Francisco
    %br
    Thursdays 6:30pm-9:30pm in Menlo Park
    %br
    Ideally you can make every week, but you can miss 1-3 weeks and still join

    %h3 Registration process
    %ol
      %li
        Fill out our&nbsp;
        =link_to 'Container Registration Form', 'https://docs.google.com/forms/d/1KV80h67Es0T219iN1XpCmTHpbOXrkAl3Ub1z5B-pjWg/edit'
      %li Paypal the container fee to cgames.forever@gmail.com to reserve spot
      %li
        We will send you a Welcome e-mail inviting you to...
        %ul.paypal
          %li Join our Slack online community
          %li Set an intention
          %li Try on some "homework" practices before the container begins

    %h3 Questions or comments?
    = mail_to 'cgames.forever@gmail.com', 'Email cgames.forever@gmail.com'
    %br
    Call or text 415.734.0129

    %h3 Container Agreements
    1. Practice Self-Leadership
    %br
    2. Return To Connection
    %br
    3. Consider Group Health

%hr