%h2 C-Game Series Registration

.row
  .small-3.columns
    %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
      %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}
        %input{:name => "hosted_button_id", :type => "hidden", :value => "8ZFYBBTKN8QAJ"}
          %table
            %tr
              %td
                %input{:name => "on0", :type => "hidden", :value => "Which Week?"} Which Week?
              %tr
                %td
                  %select{:name => "os0"}
                    %option{:value => "Sundays 5-8pm"} Sun 5-8pm $240.00 USD
                    %option{:value => "Tuesdays 7-10pm"} Tue 7-10pm $240.00 USD
                    %option{:value => "Both"} Both $320.00 USD
              %tr
                %td
                  %input{:name => "on1", :type => "hidden", :value => "Name, email, phone"} Name, email, phone #
                %tr
                  %td
                    %input{:maxlength => "200", :name => "os1", :type => "text"}/
                  %tr
                    %td
                      %input{:name => "on2", :type => "hidden", :value => "When available for coaching?"} What are you most looking forward to?
                    %tr
                      %td
                        %input{:maxlength => "200", :name => "os2", :type => "text"}/
                    %input{:name => "currency_code", :type => "hidden", :value => "USD"}
                      %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif", :type => "image"}
                        %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}

  .small-9.columns

    %h3 Logistics
    Sundays 5-8pm (May 7 to June 25)
    %br
    Tuesdays 7-10pm (May 9 to June 27)

    %h3 Trial Period
    You are welcome to try the container out for one or two weeks and get a pro-rated refund if it doesn't work for you.

    %h3 Questions or comments?
    = mail_to 'cgames.forever@gmail.com', 'Email cgames.forever@gmail.com'
    %br
    Call or text 415.734.0129

    %h3 Intention & Agreements
    These have varied in the past and will be established in the first meeting.  Our base agreements have been group safety, care for self, care for other, care for group.

%hr