.row
  .large-6.columns.summary.text-center
    %h3 CONNECTION GAMES
    = image_tag 'les.francophones.jpg'
    %ul
      %li Have a fun evening with like-hearted human beings
      %li
        %span Build your own&nbsp;
        %span.mild mild,&nbsp;
        %span.medium medium&nbsp;
        %span or&nbsp;
        %span.spicy spicy&nbsp;
        %span adventures
      %li Connect deeply through sharing and caring
      %li Learn and grow by stretching your comfort zone
      %li Experience the full range of human emotions
      %li Experience decentralized, dynamically steered groups
      %li Learn & practice here, apply to existing relationships
      %li Build community that feels like chosen family
    / = image_tag 'flowers.jpg', width: 100, height: 75
  .large-6.columns.what-we-offer
    %h3
      %span WHAT WE OFFER
      %span.float-right.underline= link_to 'FIND AN EVENT', 'http://facebook.com/connectionjunkies/events'
    %ul
      %li
        %h5 Drop-In Evening & Daylong Events
        First-timers are welcome. We serve food. We host special events for men, women, singles, couples, etc.
      %li
        %h5 Ongoing Weekly Groups
        Sundays 5-8, Berkeley
        Conflict comes and goes. Friendships deepen. This is where our work truly shines!
      %li
        %h5 CoBALT Facilitation Training
        Learn to lead through koans, inquiry & full out play
      %li
        %h5 Weekend Retreats & Workshops
        At Sierra Hot Springs or in Berkeley, let immersion take you to a whole new level
      %li
        %h5 Experience Design For Teams & Organizations
        We customize our games menu to foster more empathy, self-leadership and emotional intelligence
%hr
