%h3 How C-Game Works

%p
  C-Game is...
  %ul
    %li Doing my favorite things with my favorite people
    %li A place where we build our own adventures, together
    %li A game first and foremost... though support, etc. may happen
    %li An invitation to play full-out while respecting yourself
    %li Built through connection & group wisdom

%p
  What happens...
  %ul
  %li We usually start with a T-group and very brief intro
  %li Each of us agrees to "Honor Thy Self"
  %li We then break up into small groups...
  %li ...each formed around a specific desired menu activity
  %li And do this for two or three roughly 45-minute rounds.

%p C-Games are invite-only. If you want to bring a friend, please tell a host why they'd be a great fit and request that the host invite them.

%p Happy Gaming!