.container
  .row
    %h3
      Users&nbsp;
      = link_to '(Add)', new_user_path
    .column
      %table#users-table.compact
        %thead
          %th Name
          %th.text-center Games
          %th Social
          %th Admin
        %tbody
          - @users.order(:id).each do |user|
            %tr= render user
