.container
  .row
    %h3
      Users
      - if host_or_admin?
        %sup= link_to image_tag('plus.png', size: 12), new_user_path
    %table#users-table.compact
      %thead
        %th 
        %th Name
        %th.text-center Games
        %th Role
        %th Social
        %th City
        %th Area
        - if host_or_admin?
          %th.admin-only Admin
      %tbody
        - @users.order(:id).each do |user|
          %tr= render user
