- if host_or_admin?
  %h2 Upcoming C-Games
  = render @games
  %h2 Past C-Games
  = render @past

- else
  %p Thank you for your interest!

  %p
    C-Games are currently private, invite-only events.
    %br
    Please request an invite from one of our hosts:
    %br
    = User.host_or_admin.map {|host| mail_to(host.email, host.name) }.join(', ').html_safe
.padding