%h2 Upcoming C-Games
- if host_or_admin?
  = render @games
- else
  %p Thank you for your interest!

  %p
    C-Games are currently private, invite-only events.
    %br
    Please request an invite from one of our hosts:
    %br
    = User.host_or_admin.map {|host| mail_to(host.email, host.name) }.join(', ').html_safe

%h2 Past C-Games
- @past.each do |game|
  = render 'games/past', game: game

.padding