/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require dataTables/jquery.dataTables.foundation
 *= require_tree .
 *= require_self
 */

a:visited.button {
  color: white;
}

button {
  a:visited {
    color: white;
  }
}
.datetime {
  width: auto;
  select {
    padding-right: 15px;
    spacing: 0px;
  }
}

.admin-only {
  background-color: yellow;
}

.padding {
  min-height: 500px
}

.action {
  a, a:visited {
    color: green;
    font-style: italic;
  };
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub { 
  top: 0.4em; 
}

.text-columns-2 {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

.text-columns-3 {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}

.form-checkboxes {
  label {
    font-size: 80%;
    input {
      margin: 0px 4px 4px 0px;
    }
  }
}

.inline-multi-button {
  display: inline;
  margin-right: 5px;
}