// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.past-game-box {
  background-color: white;
  padding: 5px;
  border: 1px solid blue;
  float: left;
  margin: 10px;
}

.table-cell {
  display: table-cell;
  margin-right: 5px;
  padding: 10px;
}

#preparation {
  position: relative;
}

.save-game {
  position: absolute;
  bottom: 0;
  margin-left: 15px;
}

.build-menu {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

