// Place all the styles related to the rounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.round {
  display: table-row;
  .order {
    font-size: 200%;
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
  }
}

.tiny-initials {
  margin: 2px;
  a, a:visited {
    color: green;    
  }
  display: inline;
}
