%li.activity
  - if host_or_admin?
    .admin-only.edit-button
      = link_to 'Edit', edit_activity_path(activity), class: 'button-xs'
  .activity-name
    = link_to activity.name, activity
  .activity-description
    = link_to simpler_format(activity.haiku), activity
